@font-face {
	font-family: "PTSerifProNarrow";
	font-display: swap;
	src: url("../fonts/PTSerifProNarrow.woff2") format("woff2"), url("../fonts/PTSerifProNarrow.woff") format("woff"), url("../fonts/PTSerifProNarrow.ttf") format("ttf");
	font-weight: 400;
}
